body,
html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #006157;
}

.sidebar {
  background-color: #005b94;
}

.nav {
  background-color: #642cde;
}

.article {
  background-color: #7e1dc3;
}

.footer {
  background-color: #393f4d;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.container {
  display: grid;
  /* grid-template-areas:
    "header header header header"
    "sidebar nav nav nav"
    "sidebar article article article"
    "sidebar article article article"
    "sidebar article article article"
    "sidebar article article article"
    "sidebar article article article"
    "footer footer footer footer"; */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 10px;
}
.header {
  /* grid-area: header; */
  grid-area: 1 / 1 / 2 / -1;
}
.sidebar {
  /* grid-area: sidebar; */
  grid-area: 2 / 1 / -2 / 2;
}
.nav {
  /* grid-area: nav; */
  grid-area: 2 / 2 / 3 / -1;
}
.article {
  /* grid-area: article; */
  grid-area: 3 / 2 / -2 / -1;
}
.footer {
  /* grid-area: footer; */
  grid-area: -2 / 1 / -1 / -1;
}
